DJANGO_SECRET_KEY=changeme-insecure-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

OIDC_RP_CLIENT_ID=tu-client-id
OIDC_RP_CLIENT_SECRET=tu-client-secret
OIDC_OP_AUTHORIZATION_ENDPOINT=https://tu-idp.example.com/oauth2/authorize
OIDC_OP_TOKEN_ENDPOINT=https://tu-idp.example.com/oauth2/token
OIDC_OP_USER_ENDPOINT=https://tu-idp.example.com/oauth2/userinfo
OIDC_OP_JWKS_ENDPOINT=https://tu-idp.example.com/oauth2/jwks
OIDC_RP_SIGN_ALGO=RS256
OIDC_RP_SCOPES=openid email profile
